// @import './normalize.css';
// @import './reset.css';

@import "./utils/base";
@import "./modals/authorization";
@import "./components/header";
@import "./components/searchInput";
@import "./components/callCards";
@import "./components/footer";
@import "./components/category";
