<div class="backdrop">
    <div class="card">
        <button class="close-button">
            <svg class="close-icon">
                <use href="./symbol-defs-1.svg#icon-close-24px-1"></use>
            </svg>
        </button>

        <h3 class="card-title">Футболка спортивна</h3>
        <span class="code-product">Код товару | 105-С</span>
        <div class="foto-container">
            <img class="photo-product" src="./Rectangle 12.png" alt="тётя">
            <ul class="other-photo">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <span class="price">200.00 грн</span>
        <!--Информация о продавце-->
        <div>
            <button class="info-seller">
                <span>
                    Информация о <br> продавце
                </span>
            </button>
            <div class="icons">
                <span class="like">
                    В обране
                    <svg class="icons-like-share">
                        <use href="./symbol-defs-1.svg#icon-heart"></use>
                    </svg>
                </span>
                <span class="share">
                    Поділитися
                    <svg class="icons-like-share">
                        <use href="./symbol-defs-1.svg#icon-share-1-1"></use>
                    </svg>
                </span>
            </div>
            <!--Опис-->
            <span class="description-text">
                Опис:
            </span>
            <p class="description">
                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
                используют
                потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
            </p>
        </div>
    </div>
</div>