{{#each categories}}
<li class="category">
    <button class="previous-card"></button>
    <h2 class="category-description">{{category}}</h2>
    <button class="look-all">Дивитися всі</button>
    <button class="next-card"></button>
    <ul class="card-list">
        {{#each cards}}
        <li class="card-item">
            {{!-- Тут будет шаблон карточки, которую делает Юра (FM-26) --}}
            {{> ./card}}
        </li>
        {{/each}}
    </ul>
</li>
{{/each}}
