<div class="footer-box">
    <svg class="footer-icon-copyright">
        <use href="./images/search-footer-symbol-defs.svg#icon-copyright"></use>
    </svg>
    <span>year</span>
    <svg class="footer-icon-vector">
        <use href="./images/search-footer-symbol-defs.svg#icon-vector"></use>
    </svg>
    <span>All Rights Reserved</span>
    <svg class="footer-icon-vector">
        <use href="./images/search-footer-symbol-defs.svg#icon-vector"></use>
    </svg>
    <div>
        <span class="footer-text">Developed with</span>
        <svg class="footer-icon-heart">
            <use href="./images/search-footer-symbol-defs.svg#icon-heart"></use>
        </svg>
        <span>by
            <a href="https://goit.ua/proekty/" target="_blank"> GoIT Students</a></span>
    </div>
</div>
