<div class="footer-box">
    <svg class="footer-icon-copyright">
        <svg class="footer-icon-copyright" width="18" height="18" viewBox="0 0 18 18" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M13.44 14.48c.067-.44.213-.827.4-1.16s.453-.613.787-.827c.32-.2.72-.293 1.213-.307.307.013.587.067.84.173.267.12.507.28.693.48s.333.44.453.707c.12.267.173.56.187.853H20.4c-.027-.627-.147-1.2-.373-1.72a4 4 0 00-.933-1.347c-.4-.373-.88-.667-1.44-.88s-1.173-.307-1.853-.307c-.867 0-1.627.147-2.267.453s-1.173.707-1.6 1.227c-.427.52-.747 1.12-.947 1.813s-.32 1.413-.32 2.187v.36c0 .773.107 1.493.307 2.187s.52 1.293.947 1.8c.427.507.96.92 1.6 1.213s1.4.453 2.267.453c.627 0 1.213-.107 1.76-.307s1.027-.48 1.44-.84c.413-.36.747-.773.987-1.253s.387-.987.4-1.533h-2.387c-.013.28-.08.533-.2.773s-.28.44-.48.613c-.2.173-.427.307-.693.4-.253.093-.52.12-.8.133-.48-.013-.88-.107-1.187-.307-.333-.213-.6-.493-.787-.827s-.333-.733-.4-1.173a8.938 8.938 0 01-.107-1.333v-.36c0-.467.04-.907.107-1.347zM16 2.667C8.64 2.667 2.667 8.64 2.667 16S8.64 29.333 16 29.333 29.333 23.36 29.333 16 23.36 2.667 16 2.667zm0 24C10.12 26.667 5.333 21.88 5.333 16S10.12 5.333 16 5.333 26.667 10.12 26.667 16 21.88 26.667 16 26.667z" />
        </svg>
        <span>2019</span>
        <span>year</span>
        <svg class="footer-icon-vector" width="1" height="20" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path fill=" none" stroke="#e2e3e5" style="stroke: var(--color2, #e2e3e5)" stroke-linejoin="miter"
                stroke-linecap="butt" stroke-miterlimit="4" stroke-width="1.6" d="M1.6 0v32"></path>
        </svg>
        <span>All Rights Reserved</span>
        <svg class="footer-icon-vector" width="1" height="20" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path fill=" none" stroke="#e2e3e5" style="stroke: var(--color2, #e2e3e5)" stroke-linejoin="miter"
                stroke-linecap="butt" stroke-miterlimit="4" stroke-width="1.6" d="M1.6 0v32"></path>
        </svg>
        <div>
            <span class="footer-text">Developed with</span>
            <svg class="footer-icon-heart" width="16" height="16" viewBox="0 0 32 32" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill="var(--color2, #ff6b09)"
                    d="M16 20.48l-1.493-1.493C8.96 14.08 5.334 10.774 5.334 6.72c0-3.307 2.56-5.867 5.867-5.867 1.813 0 3.627.853 4.8 2.24 1.173-1.387 2.987-2.24 4.8-2.24 3.307 0 5.867 2.56 5.867 5.867 0 4.053-3.627 7.36-9.173 12.267l-1.493 1.493z" />
            </svg>
            <span>by
                <a href="https://goit.ua/proekty/" target="_blank"> GoIT Students</a></span>
        </div>
</div>