<div class="backdrop is-hidden" data-modal>
    <div class="search-box">
        <input type="text" class="input-search" name="query" placeholder="пошук" />
        <button class="search-button-close" data-modal-close>
            <svg class="search-icon-close">
                <use href="./images/search-footer-symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
    </div>
</div>
