.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  margin: 0;
  padding: 0;
  max-width: 290px;
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  @media screen and(max-width: 1240px) {
    width: 724px;
  }
}
.close-button {
  margin-top: 20px;
  margin-right: 19px;
  padding: 0;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 30px;
  height: 30px;
  border: none;
  transform: translateX(100%) translateY(-100%);
  background-color: white;
}
.close-icon {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  width: 24px;
  height: 24px;
}

.card-title {
  margin: 0;
  padding-top: 55px;
  padding-left: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
}

.code-product {
  display: block;
  margin-bottom: 20px;
  padding-left: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #878686;
}

.photo-product {
  display: block;
  max-width: 253px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.other-photo {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.price {
  display: block;
  margin-left: 18px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;

  color: #000000;
}

.info-seller {
  margin-left: 18px;
  margin-bottom: 20px;
  background-color: #ff6b09;
  color: #fff;
  width: 254px;
  height: 60px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border: 0px;
}

.icons-like-share {
  width: 14px;
  height: 12px;
  color: #878686;
  padding-left: 10px;
}

.like {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;

  color: #878686;
}

.share {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  padding-left: 46px;
  color: #878686;
}

.icons {
  margin-left: 18px;
  padding-bottom: 30px;
}

.description-text {
  display: block;
  padding-bottom: 10px;
  margin-left: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #878686;
}

.description {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 61px;
  margin-right: 18px;
  margin-left: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #000000;
}
